/ollama/*
!/ollama/.gitkeep
/translation_worker/temp/*
!/temp/.gitkeep
/translation_worker/translated/*
/translation_worker/uploads/*
!/translated/.gitkeep
/translation_worker/translation_worker.iml
/translation_worker/profiles/__pycache__
/translation_worker/out
/translation_worker/.idea