# General
/.idea/*

# Output
output/*
!output/.gitkeep

# Ollama
/ollama/*
!/ollama/.gitkeep

# Translation worker
/translation_worker/temp/*
!/temp/.gitkeep
/translation_worker/uploads/*
!/translated/.gitkeep
/translation_worker/translation_worker.iml
/translation_worker/profiles/__pycache__
/translation_worker/.idea